In [48]:
#dependencies
#dependencies
import matplotlib.pyplot as plt
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import inspect
from sqlalchemy import create_engine, func

In [24]:
# File to Load 
treatment_control_combined = "Machine Learning/ml.csv"

In [26]:
# Read the  Data and store into a Pandas DataFrame
treatment_control_combined = pd.read_csv(treatment_control_combined)

In [27]:
# Creating a DataFrame for treatment group
treatment_control_combined = pd.DataFrame(treatment_control_combined)
treatment_control_combined

      subjectno  tooth_id  days  mean  group
0             1       110     0  1.00      1
1             1       110    30  1.00      1
2             1       110    60  1.00      1
3             1       109     0  2.00      1
4             1       109    30  2.00      1
...         ...       ...   ...   ...    ...
1866         15       310    30  1.25      0
1867         15       310    60  1.25      0
1868         15       311     0  1.00      0
1869         15       311    30  1.00      0
1870         15       311    60  1.00      0

[1871 rows x 5 columns]

## Logistic Regression without tooth_id

In [28]:
# seaparate features from the target
y = treatment_control_combined["group"]
X = treatment_control_combined.drop(["subjectno", "tooth_id"], axis=1)

In [29]:
# split data into testing and training sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, 
                                                    stratify=y)

X_train.shape

(1403, 3)

In [30]:
# create logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=300)

In [31]:
# fit model w training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=300)

In [32]:
# create predicitions with test set
y_pred = classifier.predict(X_test)

#view as dataframe
results = pd.DataFrame({"Y_Prediction": y_pred, "Actual (y-test)": y_test}).reset_index(drop=True)
results.head()

   Y_Prediction  Actual (y-test)
0             1                1
1             0                0
2             1                1
3             1                1
4             0                0

In [33]:
# evaluate accuracy score
from sklearn.metrics import accuracy_score
print("Accuracy score from Logistic Regression")
print(accuracy_score(y_test, y_pred))

Accuracy score from Logistic Regression
1.0

In [46]:
# check confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
matrix_treatment_df = pd.DataFrame(matrix, 
                         index=["Actual 0-Crtl", "Actual 1-Treat"], 
                         columns=["Predicted 0-Crtl", "Predicted 1-Treat"])

matrix_treatment_df

                Predicted 0-Crtl  Predicted 1-Treat
Actual 0-Crtl                157                  0
Actual 1-Treat                 0                311

In [35]:
#classification report 
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       157
           1       1.00      1.00      1.00       311

    accuracy                           1.00       468
   macro avg       1.00      1.00      1.00       468
weighted avg       1.00      1.00      1.00       468

## Logistic Regression with Tooth_id

In [36]:
# seaparate features from the target
y = treatment_control_combined["group"]
X = treatment_control_combined.drop(["group"], axis=1)

In [37]:
# split data into testing and training sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, 
                                                    stratify=y)

X_train.shape

(1403, 4)

In [38]:
# create logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=300)

In [39]:
# fit model w training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=300)

In [41]:
# create predicitions with test set
y_pred = classifier.predict(X_test)

#view as dataframe
treatment_control_combined_results = pd.DataFrame({"Y_Prediction": y_pred, "Actual (y-test)": y_test}).reset_index(drop=True)
treatment_control_combined_results.head()

   Y_Prediction  Actual (y-test)
0             1                1
1             0                0
2             1                1
3             1                1
4             1                1

In [42]:
# evaluate accuracy score
from sklearn.metrics import accuracy_score
print("Accuracy score from Logistic Regression")
print(accuracy_score(y_test, y_pred))

Accuracy score from Logistic Regression
1.0

In [44]:
# check confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
matrix_treatment_df = pd.DataFrame(matrix, 
                         index=["Actual 0-Crtl", "Actual 1-Treat"], 
                         columns=["Predicted 0-Crtl", "Predicted 1-Treat"])

matrix_treatment_df

                Predicted 0-Crtl  Predicted 1-Treat
Actual 0-Crtl                157                  0
Actual 1-Treat                 0                311

In [45]:
#classification report 
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       157
           1       1.00      1.00      1.00       311

    accuracy                           1.00       468
   macro avg       1.00      1.00      1.00       468
weighted avg       1.00      1.00      1.00       468