In [1]:
!pip install plotly==5.8.0

Requirement already satisfied: plotly==5.8.0 in /Users/lucypepe/opt/anaconda3/lib/python3.9/site-packages (5.8.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/lucypepe/opt/anaconda3/lib/python3.9/site-packages (from plotly==5.8.0) (8.0.1)

In [2]:
#dependencies
import pandas as pd
import plotly.figure_factory as ff
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.express as px

## ETL Treatment Group

In [11]:
# File to Load 
treatment = "/Users/lucypepe/Desktop/Kanine_Means/Tableau/Tableau_resources/Treatment_practice.csv"
control = "/Users/lucypepe/Desktop/Kanine_Means/Tableau/Tableau_resources/Control_practice.csv"

In [12]:
# Read the  Data and store into a Pandas DataFrame
treatment = pd.read_csv(treatment)
control = pd.read_csv(control)

In [13]:
# Creating a DataFrame for treatment group
treatment_df = pd.DataFrame(treatment)
treatment_df

,Subject Name,Tooth ID,Day,Rostral,Buccal,Distal,Palatal,Gingivial Recession,Bleeding Assessment
0,Duke,110.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
1,Duke,110.0,30.0,1.0,1.0,1.0,1.0,0.0,2.0
2,Duke,110.0,60.0,1.0,1.0,1.0,1.0,0.0,0.0
3,Duke,109.0,0.0,2.0,2.0,2.0,2.0,0.0,2.0
4,Duke,109.0,30.0,3.0,2.0,1.0,2.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
1255,Abby,310.0,30.0,5.0,3.0,2.0,4.0,0.0,2.0
1256,Abby,310.0,60.0,4.0,3.0,2.0,2.0,0.0,2.0
1257,Abby,311.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0
1258,Abby,311.0,30.0,1.0,1.0,1.0,1.0,0.0,0.0
1259,Abby,311.0,60.0,1.0,1.0,1.0,1.0,0.0,1.0

In [14]:
# Drop "NaN" values
treatment_df = treatment.dropna()
treatment_df.head()

,Subject Name,Tooth ID,Day,Rostral,Buccal,Distal,Palatal,Gingivial Recession,Bleeding Assessment
0,Duke,110.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
1,Duke,110.0,30.0,1.0,1.0,1.0,1.0,0.0,2.0
2,Duke,110.0,60.0,1.0,1.0,1.0,1.0,0.0,0.0
3,Duke,109.0,0.0,2.0,2.0,2.0,2.0,0.0,2.0
4,Duke,109.0,30.0,3.0,2.0,1.0,2.0,0.0,2.0

In [15]:
# Rename columns into snake case
treatment_df.columns = ['subject_no', 'tooth_ID', 'day', 'rostral', 'buccal', 'distal', 
                              'palatal', 'gingivial_recession', 'bleeding_assessment']
treatment_df.tail()

,subject_no,tooth_ID,day,rostral,buccal,distal,palatal,gingivial_recession,bleeding_assessment
1255,Abby,310.0,30.0,5.0,3.0,2.0,4.0,0.0,2.0
1256,Abby,310.0,60.0,4.0,3.0,2.0,2.0,0.0,2.0
1257,Abby,311.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0
1258,Abby,311.0,30.0,1.0,1.0,1.0,1.0,0.0,0.0
1259,Abby,311.0,60.0,1.0,1.0,1.0,1.0,0.0,1.0

In [16]:
treatment_df.dtypes

subject_no              object
tooth_ID               float64
day                    float64
rostral                float64
buccal                 float64
distal                 float64
palatal                float64
gingivial_recession    float64
bleeding_assessment    float64
dtype: object

In [17]:
# Change data types from float to int64
treatment_df = treatment_df.astype({"tooth_ID":'int64', "day":'int64',"rostral":'int64', "buccal":'int64', "distal":'int64',
                                               "palatal":'int64', "gingivial_recession":'int64',
                                               "bleeding_assessment":'int64'})

In [18]:
treatment_df.dtypes

subject_no             object
tooth_ID                int64
day                     int64
rostral                 int64
buccal                  int64
distal                  int64
palatal                 int64
gingivial_recession     int64
bleeding_assessment     int64
dtype: object

In [19]:
# Convert NAN to 0
treatment_df.fillna(0)
treatment_df.head()

,subject_no,tooth_ID,day,rostral,buccal,distal,palatal,gingivial_recession,bleeding_assessment
0,Duke,110,0,1,1,1,1,0,0
1,Duke,110,30,1,1,1,1,0,2
2,Duke,110,60,1,1,1,1,0,0
3,Duke,109,0,2,2,2,2,0,2
4,Duke,109,30,3,2,1,2,0,2

In [20]:
# Rename columns into snake case
treatment.columns = ['subject_no', 'tooth_ID', 'day', 'rostral', 'buccal', 'distal', 
                              'palatal', 'gingivial_recession', 'bleeding_assessment']
treatment.tail()

,subject_no,tooth_ID,day,rostral,buccal,distal,palatal,gingivial_recession,bleeding_assessment
1255,Abby,310.0,30.0,5.0,3.0,2.0,4.0,0.0,2.0
1256,Abby,310.0,60.0,4.0,3.0,2.0,2.0,0.0,2.0
1257,Abby,311.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0
1258,Abby,311.0,30.0,1.0,1.0,1.0,1.0,0.0,0.0
1259,Abby,311.0,60.0,1.0,1.0,1.0,1.0,0.0,1.0

In [23]:
# File to Load 
treat_modified = "/Users/lucypepe/Desktop/Kanine_Means/Tableau/Tableau_resources/treat_modified.csv"

In [24]:
# Read the  Data and store into a Pandas DataFrame
treat_modified = pd.read_csv(treat_modified)

In [25]:
treat_modified_df = pd.DataFrame(treat_modified)
treat_modified_df

,Name,Tooth ID,Day 0,Day 30,Day 60,Rostral_0,Buccal_0,Distal_0,Palatal_0,Gingival Recession_0,...,Gingival Recession_30,Bleeding Assessment_30,Aver_Day30,Rostral_60,Buccal_60,Distal_60,Palatal_60,Gingival Recession_60,Bleeding Assessment_60,Aver_Day60
0,Duke,110,0,30,60,1.0,1.0,1.0,1.0,0.0,...,0.0,2.0,1.00,1.0,1.0,1.0,1.0,0.0,0.0,1.00
1,Duke,109,0,30,60,2.0,2.0,2.0,2.0,0.0,...,0.0,2.0,2.00,3.0,2.0,2.0,2.0,0.0,2.0,2.25
2,Duke,108,0,30,60,3.0,1.0,1.0,1.0,0.0,...,0.0,2.0,2.00,3.0,1.0,3.0,1.0,0.0,2.0,2.00
3,Duke,107,0,30,60,1.0,1.0,3.0,2.0,0.0,...,0.0,2.0,2.00,1.0,1.0,2.0,1.0,0.0,2.0,1.25
4,Duke,106,0,30,60,1.0,1.0,3.0,1.0,0.0,...,0.0,2.0,1.25,1.0,1.0,2.0,1.0,0.0,2.0,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,Abby,307,0,30,60,1.0,1.0,2.0,2.0,0.0,...,0.0,2.0,1.50,1.0,1.0,1.0,1.0,0.0,2.0,1.00
416,Abby,308,0,30,60,2.0,1.0,4.0,3.0,0.0,...,0.0,2.0,2.00,1.0,1.0,2.0,3.0,0.0,2.0,1.75
417,Abby,309,0,30,60,2.0,1.0,2.0,1.0,0.0,...,0.0,2.0,1.25,1.0,1.0,1.0,1.0,0.0,2.0,1.00
418,Abby,310,0,30,60,1.0,1.0,3.0,1.0,0.0,...,0.0,2.0,1.50,1.0,1.0,2.0,1.0,0.0,2.0,1.25
419,Abby,311,0,30,60,2.0,1.0,1.0,1.0,0.0,...,0.0,2.0,1.00,1.0,1.0,1.0,1.0,0.0,2.0,1.00

In [26]:
# Rename columns into snake case
treat_modified.columns = ['name', 'tooth_ID', 'day_0','day_30','day_60','rostral_day0','buccal_day0','distal_day0','palatal_day0','gingival_recession_day0','bledding_assesment_day0','aver_day0','rostral_day30','buccal_day30','distal_day30','palatal_day30','gingival_recession_day30','bleeding_assesment_day30','aver_day30','rostral_day60','buccal_day60','distal_day60','palatal_day60','gingival_recession_day60','bledding_assesment_day60','aver_day60' ]
treat_modified.head()

,name,tooth_ID,day_0,day_30,day_60,rostral_day0,buccal_day0,distal_day0,palatal_day0,gingival_recession_day0,...,gingival_recession_day30,bleeding_assesment_day30,aver_day30,rostral_day60,buccal_day60,distal_day60,palatal_day60,gingival_recession_day60,bledding_assesment_day60,aver_day60
0,Duke,110,0,30,60,1.0,1.0,1.0,1.0,0.0,...,0.0,2.0,1.00,1.0,1.0,1.0,1.0,0.0,0.0,1.00
1,Duke,109,0,30,60,2.0,2.0,2.0,2.0,0.0,...,0.0,2.0,2.00,3.0,2.0,2.0,2.0,0.0,2.0,2.25
2,Duke,108,0,30,60,3.0,1.0,1.0,1.0,0.0,...,0.0,2.0,2.00,3.0,1.0,3.0,1.0,0.0,2.0,2.00
3,Duke,107,0,30,60,1.0,1.0,3.0,2.0,0.0,...,0.0,2.0,2.00,1.0,1.0,2.0,1.0,0.0,2.0,1.25
4,Duke,106,0,30,60,1.0,1.0,3.0,1.0,0.0,...,0.0,2.0,1.25,1.0,1.0,2.0,1.0,0.0,2.0,1.25

In [27]:
# Drop "NaN" values
treat_modified_df = treat_modified.dropna()
treat_modified_df.head()

,name,tooth_ID,day_0,day_30,day_60,rostral_day0,buccal_day0,distal_day0,palatal_day0,gingival_recession_day0,...,gingival_recession_day30,bleeding_assesment_day30,aver_day30,rostral_day60,buccal_day60,distal_day60,palatal_day60,gingival_recession_day60,bledding_assesment_day60,aver_day60
0,Duke,110,0,30,60,1.0,1.0,1.0,1.0,0.0,...,0.0,2.0,1.00,1.0,1.0,1.0,1.0,0.0,0.0,1.00
1,Duke,109,0,30,60,2.0,2.0,2.0,2.0,0.0,...,0.0,2.0,2.00,3.0,2.0,2.0,2.0,0.0,2.0,2.25
2,Duke,108,0,30,60,3.0,1.0,1.0,1.0,0.0,...,0.0,2.0,2.00,3.0,1.0,3.0,1.0,0.0,2.0,2.00
3,Duke,107,0,30,60,1.0,1.0,3.0,2.0,0.0,...,0.0,2.0,2.00,1.0,1.0,2.0,1.0,0.0,2.0,1.25
4,Duke,106,0,30,60,1.0,1.0,3.0,1.0,0.0,...,0.0,2.0,1.25,1.0,1.0,2.0,1.0,0.0,2.0,1.25

In [28]:
treat_modified_df.dtypes

name                         object
tooth_ID                      int64
day_0                         int64
day_30                        int64
day_60                        int64
rostral_day0                float64
buccal_day0                 float64
distal_day0                 float64
palatal_day0                float64
gingival_recession_day0     float64
bledding_assesment_day0     float64
aver_day0                   float64
rostral_day30               float64
buccal_day30                float64
distal_day30                float64
palatal_day30               float64
gingival_recession_day30    float64
bleeding_assesment_day30    float64
aver_day30                  float64
rostral_day60               float64
buccal_day60                float64
distal_day60                float64
palatal_day60               float64
gingival_recession_day60    float64
bledding_assesment_day60    float64
aver_day60                  float64
dtype: object

In [29]:
# Change data types from float to int64
treat_modified_df = treat_modified_df.astype({'rostral_day0':'int64',
'buccal_day0':'int64',
'distal_day0':'int64',
'palatal_day0':'int64',
'gingival_recession_day0':'int64',
'bledding_assesment_day0':'int64',
'aver_day0':'int64',
'rostral_day30':'int64',
'buccal_day30':'int64',
'distal_day30':'int64',
'palatal_day30':'int64',
'gingival_recession_day30':'int64',
'bleeding_assesment_day30':'int64',
'aver_day30':'int64',
'rostral_day60':'int64',
'buccal_day60':'int64',
'distal_day60':'int64',
'palatal_day60':'int64',
'gingival_recession_day60':'int64',
'bledding_assesment_day60':'int64',
'aver_day60':'int64'})

In [30]:
treat_modified_df

,name,tooth_ID,day_0,day_30,day_60,rostral_day0,buccal_day0,distal_day0,palatal_day0,gingival_recession_day0,...,gingival_recession_day30,bleeding_assesment_day30,aver_day30,rostral_day60,buccal_day60,distal_day60,palatal_day60,gingival_recession_day60,bledding_assesment_day60,aver_day60
0,Duke,110,0,30,60,1,1,1,1,0,...,0,2,1,1,1,1,1,0,0,1
1,Duke,109,0,30,60,2,2,2,2,0,...,0,2,2,3,2,2,2,0,2,2
2,Duke,108,0,30,60,3,1,1,1,0,...,0,2,2,3,1,3,1,0,2,2
3,Duke,107,0,30,60,1,1,3,2,0,...,0,2,2,1,1,2,1,0,2,1
4,Duke,106,0,30,60,1,1,3,1,0,...,0,2,1,1,1,2,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,Abby,307,0,30,60,1,1,2,2,0,...,0,2,1,1,1,1,1,0,2,1
416,Abby,308,0,30,60,2,1,4,3,0,...,0,2,2,1,1,2,3,0,2,1
417,Abby,309,0,30,60,2,1,2,1,0,...,0,2,1,1,1,1,1,0,2,1
418,Abby,310,0,30,60,1,1,3,1,0,...,0,2,1,1,1,2,1,0,2,1
419,Abby,311,0,30,60,2,1,1,1,0,...,0,2,1,1,1,1,1,0,2,1

### Exporting treat_modified_df to csv for Tableau Use

In [ ]:
treat_modified_df.to_csv("tableau_data.csv")

## ETL Control Group

In [32]:
# File to Load 
control_modified = "/Users/lucypepe/Desktop/Kanine_Means/Tableau/Tableau_resources/ControlModified.csv"

In [33]:
# Read the  Data and store into a Pandas DataFrame
control_modified = pd.read_csv(control_modified)

In [34]:
control_modified_df = pd.DataFrame(control_modified)
control_modified_df

,Name,Tooth ID,Day 0,Day 30,Day 60,Rostral_0,Buccal_0,Distal_0,Palatal_0,Gingival Recession_0,...,Gingival Recession_30,Bleeding Assessment_30,Aver_Day30,Rostral_60,Buccal_60,Distal_60,Palatal_60,Gingival Recession_60,Bleeding Assessment_60,Aver_Day60
0,Penny,110,0,30,60,2.0,2.0,2.0,2.0,0.0,...,0.0,2.0,2.00,2.0,2.0,2.0,2.0,0.0,2.0,2.00
1,Penny,109,0,30,60,3.0,3.0,2.0,1.0,0.0,...,0.0,2.0,2.25,3.0,3.0,2.0,1.0,0.0,2.0,2.25
2,Penny,108,0,30,60,5.0,2.0,3.0,3.0,2.0,...,2.0,2.0,3.00,4.0,2.0,3.0,3.0,2.0,2.0,3.00
3,Penny,107,0,30,60,2.0,1.0,2.0,3.0,0.0,...,0.0,2.0,2.00,2.0,1.0,2.0,3.0,0.0,2.0,2.00
4,Penny,106,0,30,60,2.0,1.0,2.0,2.0,0.0,...,0.0,2.0,1.75,2.0,1.0,2.0,2.0,0.0,2.0,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Bruno,307,0,30,60,1.0,1.0,1.0,1.0,0.0,...,0.0,2.0,1.25,2.0,1.0,3.0,2.0,0.0,2.0,2.00
206,Bruno,308,0,30,60,1.0,1.0,4.0,4.0,0.0,...,0.0,2.0,2.50,1.0,1.0,4.0,4.0,0.0,2.0,2.50
207,Bruno,309,0,30,60,1.0,1.0,2.0,1.0,0.0,...,0.0,2.0,1.50,3.0,1.0,4.0,1.0,0.0,2.0,2.25
208,Bruno,310,0,30,60,1.0,1.0,1.0,1.0,0.0,...,0.0,2.0,1.25,1.0,2.0,1.0,1.0,0.0,2.0,1.25
209,Bruno,311,0,30,60,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.00,1.0,1.0,1.0,1.0,0.0,0.0,1.00

In [35]:
# Rename columns into snake case
control_modified.columns = ['name', 'tooth_ID', 'day_0','day_30','day_60','rostral_day0','buccal_day0','distal_day0','palatal_day0','gingival_recession_day0','bledding_assesment_day0','aver_day0','rostral_day30','buccal_day30','distal_day30','palatal_day30','gingival_recession_day30','bleeding_assesment_day30','aver_day30','rostral_day60','buccal_day60','distal_day60','palatal_day60','gingival_recession_day60','bledding_assesment_day60','aver_day60' ]
control_modified.head()

,name,tooth_ID,day_0,day_30,day_60,rostral_day0,buccal_day0,distal_day0,palatal_day0,gingival_recession_day0,...,gingival_recession_day30,bleeding_assesment_day30,aver_day30,rostral_day60,buccal_day60,distal_day60,palatal_day60,gingival_recession_day60,bledding_assesment_day60,aver_day60
0,Penny,110,0,30,60,2.0,2.0,2.0,2.0,0.0,...,0.0,2.0,2.00,2.0,2.0,2.0,2.0,0.0,2.0,2.00
1,Penny,109,0,30,60,3.0,3.0,2.0,1.0,0.0,...,0.0,2.0,2.25,3.0,3.0,2.0,1.0,0.0,2.0,2.25
2,Penny,108,0,30,60,5.0,2.0,3.0,3.0,2.0,...,2.0,2.0,3.00,4.0,2.0,3.0,3.0,2.0,2.0,3.00
3,Penny,107,0,30,60,2.0,1.0,2.0,3.0,0.0,...,0.0,2.0,2.00,2.0,1.0,2.0,3.0,0.0,2.0,2.00
4,Penny,106,0,30,60,2.0,1.0,2.0,2.0,0.0,...,0.0,2.0,1.75,2.0,1.0,2.0,2.0,0.0,2.0,1.75

In [36]:
# Drop "NaN" values
control_modified_df = control_modified.dropna()
control_modified_df.head()

,name,tooth_ID,day_0,day_30,day_60,rostral_day0,buccal_day0,distal_day0,palatal_day0,gingival_recession_day0,...,gingival_recession_day30,bleeding_assesment_day30,aver_day30,rostral_day60,buccal_day60,distal_day60,palatal_day60,gingival_recession_day60,bledding_assesment_day60,aver_day60
0,Penny,110,0,30,60,2.0,2.0,2.0,2.0,0.0,...,0.0,2.0,2.00,2.0,2.0,2.0,2.0,0.0,2.0,2.00
1,Penny,109,0,30,60,3.0,3.0,2.0,1.0,0.0,...,0.0,2.0,2.25,3.0,3.0,2.0,1.0,0.0,2.0,2.25
2,Penny,108,0,30,60,5.0,2.0,3.0,3.0,2.0,...,2.0,2.0,3.00,4.0,2.0,3.0,3.0,2.0,2.0,3.00
3,Penny,107,0,30,60,2.0,1.0,2.0,3.0,0.0,...,0.0,2.0,2.00,2.0,1.0,2.0,3.0,0.0,2.0,2.00
4,Penny,106,0,30,60,2.0,1.0,2.0,2.0,0.0,...,0.0,2.0,1.75,2.0,1.0,2.0,2.0,0.0,2.0,1.75

In [37]:
control_modified_df.dtypes

name                         object
tooth_ID                      int64
day_0                         int64
day_30                        int64
day_60                        int64
rostral_day0                float64
buccal_day0                 float64
distal_day0                 float64
palatal_day0                float64
gingival_recession_day0     float64
bledding_assesment_day0     float64
aver_day0                   float64
rostral_day30               float64
buccal_day30                float64
distal_day30                float64
palatal_day30               float64
gingival_recession_day30    float64
bleeding_assesment_day30    float64
aver_day30                  float64
rostral_day60               float64
buccal_day60                float64
distal_day60                float64
palatal_day60               float64
gingival_recession_day60    float64
bledding_assesment_day60    float64
aver_day60                  float64
dtype: object

In [38]:
# Change data types from float to int64
treat_modified_df = treat_modified_df.astype({'rostral_day0':'int64',
'buccal_day0':'int64',
'distal_day0':'int64',
'palatal_day0':'int64',
'gingival_recession_day0':'int64',
'bledding_assesment_day0':'int64',
'aver_day0':'int64',
'rostral_day30':'int64',
'buccal_day30':'int64',
'distal_day30':'int64',
'palatal_day30':'int64',
'gingival_recession_day30':'int64',
'bleeding_assesment_day30':'int64',
'aver_day30':'int64',
'rostral_day60':'int64',
'buccal_day60':'int64',
'distal_day60':'int64',
'palatal_day60':'int64',
'gingival_recession_day60':'int64',
'bledding_assesment_day60':'int64',
'aver_day60':'int64'})

In [39]:
treat_modified_df

,name,tooth_ID,day_0,day_30,day_60,rostral_day0,buccal_day0,distal_day0,palatal_day0,gingival_recession_day0,...,gingival_recession_day30,bleeding_assesment_day30,aver_day30,rostral_day60,buccal_day60,distal_day60,palatal_day60,gingival_recession_day60,bledding_assesment_day60,aver_day60
0,Duke,110,0,30,60,1,1,1,1,0,...,0,2,1,1,1,1,1,0,0,1
1,Duke,109,0,30,60,2,2,2,2,0,...,0,2,2,3,2,2,2,0,2,2
2,Duke,108,0,30,60,3,1,1,1,0,...,0,2,2,3,1,3,1,0,2,2
3,Duke,107,0,30,60,1,1,3,2,0,...,0,2,2,1,1,2,1,0,2,1
4,Duke,106,0,30,60,1,1,3,1,0,...,0,2,1,1,1,2,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,Abby,307,0,30,60,1,1,2,2,0,...,0,2,1,1,1,1,1,0,2,1
416,Abby,308,0,30,60,2,1,4,3,0,...,0,2,2,1,1,2,3,0,2,1
417,Abby,309,0,30,60,2,1,2,1,0,...,0,2,1,1,1,1,1,0,2,1
418,Abby,310,0,30,60,1,1,3,1,0,...,0,2,1,1,1,2,1,0,2,1
419,Abby,311,0,30,60,2,1,1,1,0,...,0,2,1,1,1,1,1,0,2,1

### Exporting control_modified_df to csv for Tableau Use

In [ ]:
control_modified_df.to_csv("control_tableau_data.csv")